@charset "utf-8";

.imgheader {
    margin-top: -35px;
    margin-left: -8px;
}
.navbar { /* ul class */
    list-style-type: none;
    overflow: hidden;
    background-color: #000;
    font-family: Homenaje, Verdana, sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
li {
    float: left;
    margin-left: 20px;
    margin-top: 0px;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
.divider {
    height: 73px;
    border-right: 5px solid #ce1818;
    border-left: 5px solid #fff;
}
.icon {
    margin-top: 12px;
    margin-right: 5px;
}
a {
    color: #fff;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
    transition: all 0.45s ease-in-out;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    text-shadow: 2px 2px 4px #b61212, -2px -2px 4px #b61212, 2px 2px 4px #b61212, -2px -2px 8px #b61212;
    color: #fff;
}
a:visited {
    text-decoration: none;
    color: #fff;
}
.pgBody {
    margin-left: 480px;
    margin-right: 480px;
    margin-top: 10px;
    font-family: Homenaje, Verdana, sans-serif;
    font-size: 36px;
    color: #fff;
    background-color: #000;
    background-clip: border-box;
    text-align: center;
    line-height: 45px;
}
.pgBodyRacing {
    margin-left: 480px;
    margin-right: 480px;
    margin-top: 10px;
    font-family: Homenaje, Verdana, sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #000;
    background-clip: border-box;
    text-align: center;
    line-height: 45px;
}
.spacerBio {
    margin-bottom: 430px;
}
.spacerAccomp {
    margin-bottom: 80px;
}
.pgBodyLeft {
    float: left;
    margin-left: -10px;
}
.pgBodyRight {
    float: right;
    margin-right: -10px;
}
.bg {
    background-color: #fff;
    overflow-x: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.footer {
    font-size: 14pt;
    font-family: Homenaje, sans-serif;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
    background-color: #000;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
@font-face {
    font-family: "Homenaje";
    src: url("https://fonts.gstatic.com/l/font?kit=NXfSfQrYV8xV0ZhCOumchq2nQdMB71TB_rZTUiXPfJkZ3PKrsF8trnlDXSX4hGfu&skey=9b887fa224ab3cec&v=v6");
}